.Register {
  .register-container {
    height: 100vh;
    .form-step-group {
      width: 100%;
      padding: 5%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .form-step-group-container {
        width: 80%;
      }
      .MSContent {
        width: 100%;
      }
      .MSNextButton {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }
    }
    .form-step-desc {
      padding: 5%;
      height: 100%;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
      display: flex;
      flex-direction: column;
      .form-step-desc-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .MSIcon {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          i {
            font-size: 80px;
            color: #386dfe;
          }
        }
        .MSTitle {
          text-align: center;
          margin-bottom: 10px;
        }
        .MSDesc {
          text-align: center;
          color: rgba(0, 0, 0, 0.772);
          pre {
            text-wrap: wrap;
          }
        }
      }
      .bottom-title {
        padding: 8px 0px;
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: center;
        h2 {
          text-transform: uppercase;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }

  .Register_Form_1 {
    width: 100%;
  }

  .Register_Form_2 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .verify-btn {
      width: 100%!important;
      margin-top: 20px;
      height: 45px;
      opacity: 0.3;
      pointer-events: none;
    }
    .title {
        margin-bottom: 40px;
        h1 {
            text-align: center;
            margin-bottom: 10px;
        }
        p {
            text-align: center;
        }
    }
    .react-code-input {
      
      input {
        width: 80px!important;
        height: 80px!important;
        text-align: center;
        padding: 0!important;
      }

      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; /* Optional for better alignment */
      }
    }

    .resend-code {
      width: 100%;
      margin-top: 20px;
      font-size: 14px;
      text-align: left;
      display: flex;
      justify-content: space-between;
      gap: 40px;
      
      span {
        color: black;
      }
      a {
        cursor: pointer;
        color: #386dfe;
        font-weight: 600;
      }
    }
  }

  .Register_Form_3 {
    width: 100%;
  }
}
