@import "../../assets/scss/variables.scss";



.MSNav {
    .MSNav-container {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-bottom: 28px;
        .step {
            width: 38px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: $V-color--normal;
            cursor: pointer;
            background-color: $V-color--primary;
            user-select: none;
            cursor: default;
            i {
                color: white;
                display: none;
                font-size: 18px;
            }
        }

        .step-actived {
            border: 2px solid $V-color--normal;
            color: $V-color--normal;
        }

        .step-finished {
            border: 2px solid $V-color--normal;
            background-color: $V-color--primary;
            color: $V-color--primary;
            i {
                display: block;
            }
            span {
                display: none;
            }
        }
    }
}

.MutilStep {
    height: 100%;
}

.MSDesc {
    p {
        text-align: center;
    }
}